{% extends "gallery/base.html" %}
{% load static %}
{% block title %}Password changed{% endblock %}
{% block content %}
   <head>
        <style type="text/css">
            body{
                margin: 0;
                padding: 0;
                background: url('{% static "images/changebg.jpg" %}');
                background-size: cover;
                background-postion: center;
                font-family: sans-serif;
            }
        </style>
   </head>
  <h1>Password changed</h1>
  <p>Your password has been successfully changed.</p>
{% endblock %}